<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>몰겜</string>
	<key>CFBundleExecutable</key>
	<string>DdongDodge</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>dev.turban.ddong-dodge</string>
	<key>CFBundleName</key>
	<string>몰겜</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.25.1</string>
	<key>CFBundleVersion</key>
	<string>34</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_ddong._tcp</string>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>같은 와이파이에 있는 사람들과 같이 하려면 필요합니다. 방을 만든 맥에 직접 붙습니다.</string>
</dict>
</plist>
